.modal {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(128,128,128,0.2);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal.is-open {
    display: flex;
}

.modal-container {
    position: relative;
    padding: 5px 10px 10px 10px;
    background: #fff;
    border-radius: 5px;
    min-width: 400px;
    max-width: 800px;
    min-height: 100px;
    max-height: 800px;
    overflow-y: auto;
}

.modal-close {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #181818;
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 5px;
    font-size: 15px;
}

@media only screen and (max-width: 420px) {
    .modal-container {
        min-width: 200px;
        max-width: 400px;
        min-height: 100px;
        max-height: 800px;
    }
}