.offers-container {
    width: 100%;
    max-height: 35px;
    background-color: #ecf2bd;
    display: flex;
    justify-content: center;
    font-size: 1em;
    top:0;
    bottom: 0;
}

.offers-container p {
    text-align: center;
}

.offers-container button {
    border: none;
    text-decoration: none;
    background-color: #ecf2bd;
    transition-duration: 0.4s;
    cursor: pointer;
    font-size: 1.1em;
}

.offers-container button:hover {
    font-weight:400;
    text-shadow: 2px 2px 3px #b0bf39;
}

.offers-close {
    text-align: right;
    position: absolute;
    right: 1rem;
    font-size: 1em;
    font-weight: bold;
    padding-bottom: 0;
    scroll-padding-top: 0;
    border: none;
    background-color: #ecf2bd;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 60px;
    background-color: #0bb3d9;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    right: 105%;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

.offers-modal {
    background: url('https://i.ibb.co/Cm4RdJB/Oferta-Ultimo.jpg') no-repeat center;
    background-size:cover;
    min-height: 300px;
    padding: 40px 5px 5px 5px;
    margin-top: 5px;
}

.offers-modal h3 {
    padding: 40px 0px 0px 10px;
    color:black;
    font-weight: normal;
    text-shadow: 2px 4px 5px rgb(85, 85, 85);
    font-size: 15px;

  }

.offers-modal h2 {
    padding: 20px 0px 0px 10px;
    font-size: 15px;
    color: black;
    font-weight: bold;
}

.offers-modal h1 {
    padding: 20px 0px 0px 10px;
    font-weight: bold;
    font-size: 1.5rem;
  }

@media only screen and (max-width: 600px) {
    .offers-container {
        font-size: 0.8rem;
        padding-left: 5px;
    }
}

@media only screen and (max-width: 420px) {
    .offers-container {
        justify-content: left;
        font-size: 0.7rem;
        text-align: left;
    }
    .offers-modal {
        max-width: 300px;
        min-height: 100px;
    }

    .offers-modal h3 {
        padding: 15px 0px 0px 5px;
        font-size: 15px;
    
      }
    
    .offers-modal h2 {
        padding: 10px 0px 0px 10px;
        font-size: 12px;
        color: black;
        font-weight: bold;
    }
    
    .offers-modal h1 {
        padding: 10px 0px 0px 10px;
        font-weight: bold;
        font-size: 1rem;
      }
}

